.table__form {
    padding: 0;
    margin: 10% 0 0;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
    border-spacing: 5px;
}

@media (max-width: 705px) {
    .table__form {
        max-width: 95%;
        justify-content: center;
    }
}

@media (max-width: 544px) {
    .table__form {
        border: 2px solid rgb(255, 255, 255);
        border-spacing: 3px;
    }
}

@media (max-width: 320px) {
    .table__form {
        border: 1px solid rgb(255, 255, 255);
        border-spacing: 2px;
    }
}