.lead__image {
    max-width: 930px;
    align-self: center;
    padding: 0;
    margin: 20px 0 0;
    flex-shrink: 0;
    justify-content: center;
}

@media (max-width: 930px) {
    .lead__image {
        max-width: 95%;
    }
}