.table__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.075;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

@media (max-width: 544px) {
    .table__title {
        font-size: 43px;
    }
}

@media (max-width: 320px) {
    .table__title {
        font-size: 30px;
    }
}